        body{
            text-align:center;
            background: white url(./img/mybg.JPG) no-repeat;
            background-size:cover;
        }
        .head{
            font-family: 'Cormorant Unicase', serif;
            padding:25px;
            background:#fefefe;
            opacity:0.8;
            font-size:50px;
        }
        .container{
            display:flex;
            flex-wrap:wrap;
            justify-content:center;
        }
        .card{
            width:45%;
            margin:5px;
        }
        .card-body{
            background:#ddd;
            font-family: 'Work Sans', sans-serif;
        }
        .fas{
            color:red;
        }
        #footer{
            width:100%;
            position: fixed;
            bottom:0px;
            text-align:center;
            background:rgb(145,145,145);
            color:white;
            margin-bottom:0px;
        }
